
.ui-headerbar li {
    background-color: white!important;
}

#search-icon {
    background: url(https://ww8.ikea.com/ext/iplugins/en_US-m/development/plugins/header/images/nav-search.svg) no-repeat center center!important;
}

.ui-headerbar li {
    border-right: 1px solid #fdfdfd!important;
}

#ikea-navbar ul {
    background: #ffffff!important;
    border-top: 1px solid #ffffff!important;
}
#ikea-navbar {
    border-top: 4px solid #ffffff!important;
    border-bottom: 2px solid #ffffff!important;
}

#list-icon .list-icon {
    background: url(https://ww8.ikea.com/ext/iplugins/en_US-m/development/plugins/header/images/nav-shopping-list.svg) no-repeat center center!important;
}

#cart-icon .cart-icon {
    background: url(https://ww8.ikea.com/ext/iplugins/en_US-m/development/plugins/header/images/nav-shopping-bag.svg) no-repeat center center!important;
}

.ui-headerbar a.ui-link {
    color: black!important;
}

.ui-headerbar a.ui-link, #ikea-navbar-item-active a.ui-link {
    text-shadow: none!important;
}

.ui-headerbar a.ui-link {
    line-height: 8px !important;
}