.zipcodefinder {
    width: 100%;
    height: 150px;
    clear: both;
    text-align: center;
    margin-top: 25px;
}
.logoTask {
    width: 150px;
}

.logoImgtaskRabbit {
    width: 100%;
    height: auto;
    margin-top: 9px;
    margin-left: 15px;
}

.textTask {
    width: 300px;
    /* float: left; */
    margin-top: 11px;
}

.textInsideTask {
    width: 100%;
    height: auto;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    padding-top: 0px;
    font-weight: 600;
    text-align: left;
    margin-left: 15px;
}

.textInsideTaskSmall {
    width: 100%;
    height: auto;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding-top: 0px;
    font-weight: 200;
    text-align: left;
    margin-left: 15px;
}

.inputTask {
    width: 180px;
    display: table-cell;
    margin-left: 0px;
    float: left;

}

.inputTaskZip {
    height: 24px;
    margin-top: 10px;
    width: 96px;
    float: left;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;



}

.buttonTask {
    width: 30px;
    height: 30px;
    background-color: #0051ba;
    margin-left: -23px;
    position: absolute;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-image: url(https://ww8.ikea.com/ext/iplugins/en_US/development/plugins/taskrabbit/images/button.png);
    background-position: center;
    background-size: 35px 35px;
}